.orderlist {
    flex-grow: 1;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    max-width: 900px;
    margin: auto;
    padding: 1.8rem;
        margin-top: var(--navbar-height, 100px);

}
.orderlist ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.orderlist li {
    margin-bottom: 12px;
    align-items: center;
    border-radius: 8px;
    margin-bottom: 10px;
    justify-content: space-between;
    display: flex;
    border-radius: 8px;
    line-height: 2;
 
}
.orderlink {
    color: blue;
    margin-left: 10px;
    padding: 8px 12px;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.5s;
}
.orderlink:hover {
    color: red;
}

.orderlist h1 {
    text-align: center;
    color: black;
    margin-bottom: 20px;
    font-size: 23px;
}